/*--------------------------------------------------------------------------------------
Theme Name: EightFlags - Courses Online Landing Template HTML
Theme URI: http://www.erikaivo.info
Author URI: http://www.erikaivo.info
Description: 100% Responsive, w3c validator, bootstrap 3, etc
Author: JeriTeam
Version: 1.0
----------------------------------------------------------------------------------------
   1. FONTS
   2. RESET CSS
   3. LOADING
   4. SCROLL TOP
   5. BANNER
   6. HEADER
   7. ABOUT
   8. COURSES
   9. SERVICES
   10. VIDEO
   11. STUDENTS
   12. CONTACT
   13. FOOTER
   14. COPYRIGHT
----------------------------------------------------------------------------------------*/
/*--------------------
   1. FONTS
----------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*--------------------
   2. RESET CSS
----------------------*/
a {
    text-decoration: none;
    outline: none;
    color: #111;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #5b3dc7;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
    color: #515151;
}

.padding-bottom {
    margin-bottom: 30px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*--------------------
   3. LOADING
----------------------*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/loading.gif') 50% 50% no-repeat #888e9d;
}

/*--------------------
   4. TOP SCROLL
----------------------*/
a.scrolltotop {
    background: #888e9d none repeat scroll 0 0;
    border: 1px solid #FFF;
    bottom: 20px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 40px;
    z-index: 999;
    padding-top: 5px;
}

a.scrolltotop:hover {
    background: #e42323;
}

/*--------------------
   5. BANNER
----------------------*/
.banner {
    width: 100%;
    height: 900px;
}

.backwrap {
    width: 100%;
    height: 900px;
    left: 0;
    top: 0;
    z-index: 1;
    background: #888e9d;
}

#world {
    position: absolute;
    width: 100%;
    height: 900px;
    top: 0;
    left: 0;
}

.lng ul {
    list-style: none;
    width: 100px;
    margin: 10px 0;
    float: right;
}

.language li {
    color: #FFF;
    font-size: 16px;
    float: left;
    margin-right: 5px;
}

.language a {
    color: #FFF;
    text-decoration: none;
}

.language a:hover, .language li.active a {
    color: #e42323;
}

/*--------------------
   6. HEADER
----------------------*/
.header {
    background-color: transparent;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.darknavbar {
    background-color: #888e9d !important;
    top: 0px !important;
    padding-top: 10px;
    height: 92px;
}

.clearnavbar {
    background-color: transparent !important;
}

.header .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header .imgLogo {
    position: absolute;
    background: url('img/logo.png') no-repeat center center;
    width: 174px;
    height: 80px;
    z-index: 2;
}

.navbar-default {
    background: transparent;
    border: 0px;
    border-radius: 0px:
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    border-bottom: 3px solid #e42323;
    margin-bottom: 10px;
    color: #FFF;
}

.navbar-nav li {
    margin: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    border-bottom: 3px solid #e42323;
    margin-bottom: 10px;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.dropdown-menu {
    border: 1px solid #FFF;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    border-bottom: 3px solid #e42323;
    margin-bottom: 10px;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    border-bottom: 3px solid #e42323;
    margin-bottom: 10px;
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
}

.bannerDown {
    padding-top: 120px;
}

.courseLg {
    padding-top: 207px;
}  

.courseLg h2 {
    font-size: 40px;
    font-weight: 300;
    color: #FFF;
    float: left;
    margin-right: 10px;
    margin-top: 14px;
    text-transform: capitalize;
    z-index: 8;
    position: relative;
}

.courseLg span {
    font-size: 40px;
    font-weight: 500;
    color: #e42323;
    text-transform: capitalize;
    z-index: 8;
    position: relative;
    top: 23px;
}

.courseLg p {
    color: #FFF;
}

.courseLg .btns {
    width: 320px;
    margin-top: 25px;
}

a.orange {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
    width: 140px;
    height: 40px;
    color: #FFF;
    text-align: center;
    padding: 7px 0;
    margin-right: 20px;
    float: left;
    cursor: pointer;
    z-index: 8;
    position: relative;
}

a:hover.orange {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.bannerStudent1 {
    background: url("img/bannerStudent1.png") no-repeat;
    width: 561px;
    height: 630px;
    margin-top: 106px;
    z-index: 8;
    position: relative;
    float: right;
}

/*--------------------
   7. ABOUT
----------------------*/
.about {
    background: #FFF;
    padding: 100px 0;
}

.about h2 {
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    color: #e42323;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about p {
    text-align: justify;
    font-weight: 400;
}

.about .btn1 {
    margin-top: 39px;
}

.about .box {
    background: #FFF;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    padding: 30px;
    overflow: hidden;
}

.about input {
    width: 100%;
    background: #FFF;
    border: 1px solid #eee;
    color: #515151;
    border-radius: 0;
    margin-bottom: 10px;
    height: 40px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .about .select {
    width: 100%;
    background: #FFF;
    border: 1px solid #eee;
    color: #515151;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    display: block;
    -webkit-appearance: menulist;
    overflow: -moz-hidden-unscrollable;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about select option i {
    color: #515151;
    background: transparent;
    margin-right: 10px;
}

.about .purple1 {
    background: rgb(111,122,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(111,122,153,1) 0%, rgba(54,58,70,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(111,122,153,1) 0%,rgba(54,58,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(111,122,153,1) 0%,rgba(54,58,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a99', endColorstr='#363a46',GradientType=0 ); /* IE6-9 */
    margin-top: 40px;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    color: #FFF;
    text-align: center;
    padding: 7px 0;
    float: left;
    cursor: pointer;
}

.about .purple1:hover {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/*--------------------
   8. COURSES
----------------------*/
.courses {
    background: #f5f5f5;
    padding: 95px 0 100px 0;
}

.courses h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #e42323;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.courses .p1 {
    text-align: center;
    margin-bottom: 60px;
}

.courses ul {
    list-style: none;
    width: 1050px;
    margin: 0 auto;
    display: table;
}

.courses ul li {
    background: rgb(111,122,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(111,122,153,1) 0%, rgba(54,58,70,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(111,122,153,1) 0%,rgba(54,58,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(111,122,153,1) 0%,rgba(54,58,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a99', endColorstr='#363a46',GradientType=0 ); /* IE6-9 */
    border-radius: 30px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    margin-right: 35px;
    float: left;
    cursor: pointer;
    margin-bottom: 25px;
}

.courses ul li:hover {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.courses .p2 {
    text-align: justify;
    clear: both;
    font-weight: 400;
}

.courses .btn2 {
    margin-top: 30px;
}

/*--------------------
   9. SERVICES
----------------------*/
.services {
    background: #FFF;
    padding: 94px 0 100px 0;
}

.services h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #e42323;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.services .p1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
}

.services .boxServices:hover {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    overflow: hidden;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.boxServices:hover .icon {
    background: #FFF;
}

.boxServices:hover .icon i {
    font-size: 30px;
    color: #111;
}

.services .boxServices:hover h2 {
    font-size: 21px;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.services .boxServices {
    background: #F5F5F5;
    padding: 30px;
    overflow: hidden;
}

.services .icon {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 80px;
    height: 80px;
    padding: 25px;
    margin: 0 auto 10px auto;
    display: table;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.services .icon i {
    font-size: 30px;
    color: #FFF;
}

.services .boxServices h2 {
    font-size: 21px;
    text-align: center;
    color: #111;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.services .p3 {
    text-align: center;
}

/*--------------------
   10. VIDEO
----------------------*/
.video {
    background: url("img/video.jpg") no-repeat center center;
    padding: 100px 0 84px 0;
}

.video .play {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 28px 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 35px auto;
    display: table; 
}

.video .play i {
    font-size: 48px;
    color: #FFF;
    text-align: center;
}

.video .play:hover {
    background: #FFF;
}

.video .play:hover i {
    color: #e42323;
}

.video h3 {
    font-size: 30px;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
}

div#html5-watermark, .html5-title {
    display: none !important;
}

/*--------------------
   11. STUDENTS
----------------------*/
.students {
    background: #F5F5F5;
    padding: 95px 0 100px 0;
}

.students h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #e42323;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.students .p1 {
    text-align: center;
    margin-bottom: 60px;
}

.students .student1 {
    background: url('img/student1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 369px;
}

.students .student2 {
    background: url('img/student2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 369px;
}

.students .student3 {
    background: url('img/student3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 369px;
}

.students .student4 {
    background: url('img/student4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 369px;
}

.boxStudent .hover {
    display: none;
}

.boxStudent:hover .hover {
    background: rgba(228, 35, 35,.75);
    position: absolute;
    display: block !important;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    cursor: pointer;
}

.boxStudent:hover .social {
    display: block !important;
    width: 220px !important;
    margin: 0 auto;
}

.boxStudent .social {
    display: none;
}

.students .social ul {
    list-style: none;
    margin-left: -20px;
    margin-top: 70% !important;
}

.students .social ul li {
    float: left;
    margin: 0 5px;
}

.students .social ul li a {
    background: #FFF;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 5px 7px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.students .social ul li a:hover {
    background: #111;
}

.students .social ul li i {
    font-size: 16px;
    color: #111;
}

.students .social ul li:hover i {
    color: #FFF;
}

/*--------------------
   12. CONTACT
----------------------*/
.contact .google-map {
    position: relative;
}

.contact .boxContact {
    position: absolute;
    width: 100%;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35);
    padding: 30px;
    overflow: hidden;
    z-index: 0;
    top: -440px;
}

.contact .boxContact h3 {
    color: #e42323;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact .boxContact .info {
    margin-bottom: 75px;
}

.contact .boxContact .info ul {
    list-style: none;
    margin-left: -40px;
}

.contact .boxContact .info ul li {
    line-height: 28px;
    color: #515151;
}

.contact .boxContact .logo2 {
    background: url("img/logoContact.png");
    width: 145px;
    height: 18px;
    margin: 0 auto 15px auto;
    display: table;
}

.contact .boxContact .social1 {
    width: 235px;
    margin: 0 auto;
    display: table;
}

.contact .boxContact .social1 ul {
    list-style: none;
    margin-left: -20px;
}

.contact .boxContact .social1 ul li {
    float: left;
    margin: 0 5px;
}

.contact .boxContact .social1 ul li a {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 7px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.contact .boxContact .social1 ul li a:hover {
    background: #111;
}

.contact .boxContact .social1 ul li i {
    font-size: 16px;
    color: #FFF;
}

/*--------------------
   13. FOOTER
----------------------*/
footer {
    background: #2b2c2c;
    padding: 100px 0 86px 0;
}

footer .footerAbout .logoFooter {
    background: url("img/ft-logo.png") no-repeat ;
    width: 236px;
    height: 90px;
    margin-left: 0px;
    margin-bottom: 20px;
}

footer .footerAbout .p1 {
    color: #FFF;
    text-align: left;
    font-family: 'El Messiri', sans-serif;
    font-size:16px;
}

footer .links h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 30px;
}

footer .links ul {
    list-style: none;
    padding: 0;
}

footer .links li {
    padding-left: 1.3em;
}

.arrow:before {
   font-family: 'Font Awesome\ 5 Free';
   margin: 0 5px 0 -15px;
   display: inline-block;
   content: "\f105"; 
   color: #FFF;
   font-weight: 900;
}

footer .links ul li {
    line-height: 28px;
}

footer .links ul li a {
    color: #e42323;
    text-decoration: none;
}

footer .links ul li a:hover {
    color: #FFF;
}

footer .homepages h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 30px;
}

footer .homepages ul {
    list-style: none;
    padding: 0;
}

footer .homepages li {
    padding-left: 1.3em;
}

footer .homepages ul li {
    line-height: 28px;
}

footer .homepages ul li a {
    color: #e42323;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    font-family: 'El Messiri', sans-serif;
}

footer .homepages ul li a:hover {
    color: #FFF;
}

footer .infoFooter h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 30px;
}

footer .info1 {
    margin-bottom: 30px;
}

footer .infoFooter .info1 ul {
    list-style: none;
    margin-left: -45px;
}

footer .infoFooter .info1 ul li {
    color: #FFF;
    line-height: 28px;
    font-family: 'El Messiri', sans-serif;
    font-size:16px;
}

footer .infoFooter .social2 ul {
    list-style: none;
    margin-left: -45px;
}

footer .infoFooter .social2 ul li {
    float: left;
    margin: 0 5px;
}

footer .infoFooter .social2 ul li a {
    background: rgb(250,66,37); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 7px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    color: #FFF;
}

footer .infoFooter .social2 ul li a:hover {
    background: #FFF;
    color: #e42323;
}

/*--------------------
   14. COPYRIGHT
----------------------*/
.copyright {
    background: #111;
    padding-top: 10px;
}

.copyright p {
    font-size: 13px;
    color: #FFF;
    text-align: center;
}

.copyright i {
    font-size: 13px;
    color: #e42323;
    padding: 0 5px;
}
/*.courses .active {*/
    /*background: rgb(250,66,37);*//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(250,66,37,1) 0%, rgba(211,10,33,1) 100%);*/
     /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(250,66,37,1) 0%,rgba(211,10,33,1) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4225', endColorstr='#d30a21',GradientType=0 );*/
     /* IE6-9 */
/*}*/