<!-- <div class="questionpapers view">
<h2><?php echo __('Questionpaper'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($questionpaper['Questionpaper']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Name'); ?></dt>
		<dd>
			<?php echo h($questionpaper['Questionpaper']['name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($questionpaper['Questionpaper']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($questionpaper['Questionpaper']['modified']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Questionpaper'), array('action' => 'edit', $questionpaper['Questionpaper']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Questionpaper'), array('action' => 'delete', $questionpaper['Questionpaper']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $questionpaper['Questionpaper']['id']))); ?> </li>
		<li><?php echo $this->Html->link(__('List Questionpapers'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Questionpaper'), array('action' => 'add')); ?> </li>
	</ul>
</div>
 -->