<script type="text/javascript">
  $(document).ready(function(){
  $("#back-btn").click(function(){
    $('.alert-danger').remove();
    // $('#forgotpasswordAdminLoginForm')[0].reset();
    // $(".form-group").removeClass("has-error");
    // $(".help-block").html("");
  });
$(document).ready(function(){
var error1 = $('.alert-danger');
$('#UserIndexForm').validate({
errorElement: 'span', //default input error message container
errorClass: 'help-block', // default input error message class
focusInvalid: false, // do not focus the last invalid input
ignore: "",
rules:{
"data[User][email]" : {required : true },
"" : {required: true,email: true},
"data[User][password]" : {required : true},
},
messages:{
"data[User][email]" : {required : "Please enter a valid email address",
             minlength : "Please enter a valid email address"},
"data[User][password]" : {required :"Please enter password."},
},

invalidHandler: function (event, validator) { //display error alert on form submit              
//success1.hide();
error1.show();
$("span.error").html('&nbsp;');
//App.scrollTo(error1, -200);
},

highlight: function (element) { // hightlight error inputs
$(element)
.closest('.form-group').addClass('has-error'); // set error class to the control group
},

unhighlight: function (element) { // revert the change done by hightlight
$(element)
.closest('.form-group').removeClass('has-error'); // set error class to the control group
},

success: function (label) {
label
.closest('.form-group').removeClass('has-error'); // set success class to the control group
label
.closest('.form-group').removeClass('error');
},
errorPlacement: function(error, element) {
    if (element.attr("name") == "data[User][email]" )
          error.insertAfter(".class1");
        else if  (element.attr("name") == "data[User][password]" )
          error.insertAfter(".class2");
        else
          error.insertAfter(element);
},
});
});
</script>
<section id="about" class="about">
        <div class="container">
            <div class="row">

                <!--  -->
                 <h2>Login</h2>
                <div class="col-md-6 col-xs-12">
                    <p>Not yet you  enroll? <a href="<?php echo $this->webroot;?>pages/registration">Enroll Now</a></p>
                    <img src="<?php echo $this->webroot;?>assets/img/logofinal.jpg" width="30%" height="30%" class="img">
                    <!-- <div class="btn1">
                        <a href="#" class="orange">Learn More</a>
                    </div> -->
                </div>
                <div class="col-md-6 col-xs-12">
                  
                    <div class="box">
                      <?php echo $this->Session->flash(); ?>
                      <p class="form-messege"></p>
                        <?php echo $this->Form->create('User'); ?>
                              <div class="form-group" id="">
                                    <!-- <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Your Name...*" required> -->
                                    <?php echo $this->Form->input('email', array('class' => 'form-control','type'=>'email', 'label' => false,'placeholder'=>'Your Email...', 'required' => false));?>
                              </div>
                              <div class="form-group" id="">
                                    <!-- <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Your Email...*" required> -->
                                    <?php echo $this->Form->input('password', array('class' => 'form-control','type'=>'password','label' => false,'placeholder'=>'Your Password...', 'required' => false));?>
                              </div>
                             
                              <div class="right">
                                    <button type="submit" class="purple1">SIGN IN</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<style type="text/css">
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
