@media (min-width: 1200px) {
  
}

@media (min-width: 991px) {
	.courseLg {
	    padding: 237px 0;
	}

	.right1 {
    	float: right;
	}

	.right-margin {
    	margin-right: 45px;
	}

	footer .infoFooter .social2 {
    	width: 235px;
	}
}

@media (min-width: 768px) {
	.courses ul li {
		width: 300px;
		font-size: 18px;
		height: 60px;
		line-height: 40px;
	}

	.courses i {
	    font-size: 21px;
	    color: #FFF;
	    margin-right: 7px;
	}	
}

@media (min-width: 992px) and (max-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (min-width: 700px) and (max-width: 767px) { 
    
}

@media (min-width: 480px) and (max-width: 699px) { 
    
}
@media (min-width: 636px) and (max-width: 699px) { 
    
}
@media (min-width: 576px) and (max-width: 635px) { 
    
}
@media (min-width: 551px) and (max-width: 575px) { 
    
}
@media (min-width: 518px) and (max-width: 550px) { 
    
}

@media (min-width: 480px) and (max-width: 517px) { 
    
}

@media (max-width: 1200px) { 
    .navbar-header {
        float: none;
     }
        
    .navbar-toggle {
        display: block;
    }
        
    .navbar-collapse {
        border-top: 0px !important;
        box-shadow: none !important;
    }
        
    .navbar-collapse.collapse {
        display: none!important;
    }
        
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        background: rgba(136, 142, 157, 1);
        width: 100%; 
    }
        
    .navbar-nav>li {
        float: none;
    }
        
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
        
    .navbar-collapse.collapse.in {  /* NEW */
        display: block!important; 
    }
        
    .navbar-default .navbar-toggle {
        background: transparent;
    }
        
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: #e42323;
    }
        
    .navbar-default .navbar-nav>li:hover {
        background: #e42323;
    }
        
    .navbar-header button.navbar-toggle {
        margin-bottom: 22px;
    }
        
    nav.navbar-default {
        margin-bottom: 0;
    }
        
    .navbar-collapse {
        width: 100%;
    }
        
    a.logo {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
        
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		border-bottom: 0px !important;
		margin: 0 !important;
	}

	.courses ul {
	    width: 300px !important;
	}
}

@media (max-width: 991px) {
    .navbar-header button.navbar-toggle {
        margin-top: -25px;
    }

    .bannerStudent1 {
		display: none;
	}

	.courseLg {
    	margin-top: 200px !important;
	}

	.about h2, .about p {
		text-align: center !important;
	}

	.about .btn1 {
		width: 140px;
		margin: 0 auto;
		display: table;
	}

	.about .box {
		margin-top: 30px;
	}

	.courses ul li {
		margin-bottom: 30px;
		margin-right: 10px !important;
	}

	.courses ul {
		padding: 0;
	}

	.padding-bottom1 {
    	margin-bottom: 30px;
	}

	.right1 {
    	float: left !important;
	}

	.right-margin {
    	margin-right: 0 !important;
	}

	footer .footerAbout .logoFooter {
    	width: 146px;
    	margin: 0 auto 30px auto !important;
    	display: table;
	}

	footer .footerAbout .p1 {
    	text-align: center !important;
    	margin: 0 auto !important;
    	margin-bottom: 30px !important;
	}

	footer .links h3 {
		text-align: center;
    	margin: 0 auto 30px auto !important;
	}

	footer .links {
		width: 100px;
		margin: 0 auto;
		display: table;
		margin-bottom: 30px !important;
	}

	footer .homepages {
		width: 120px;
		margin: 0 auto;
		display: table;
		margin-bottom: 30px !important;
	}

	footer .infoFooter h3 {
		text-align: center;
		margin: 0 auto 30px auto !important;
	}

	footer .info1 {
		width: 300px;
		margin: 0 auto 30px auto !important;
		display: table;
	}

	footer .infoFooter .info1 ul li {
	    text-align: center !important;
    	margin: 0 auto !important;
	}

	footer .infoFooter .social2 {
		width: 200px !important;
		margin: 0 auto !important;
		display: table;
	}

	.courseLg {
    	padding: 0 !important;
	} 
}  

@media (max-width: 768px) {
	.courseLg {
    	margin-top: 175px !important;
	}

	.courses ul {
	    width: 275px !important;
	    margin: 0 auto;
	    display: table;
	}

	.courses ul li {
		width: 275px !important;
		font-size: 15px;
		height: 45px;
		line-height: 25px;
		margin-right: 0 !important;
	}

	.courses .btn2 {
		width: 140px;
		margin: 0 auto;
		display: table; 
	}

	.courses .p2 {
		text-align: center !important;
	}

	.courses i {
	    font-size: 18px;
	    color: #FFF;
	    margin-right: 7px;
	}

	.padding-bottom2 {
    	margin-bottom: 30px;
	}
}

@media (max-width: 525px) {
    
}

@media (max-width: 480px) { 

}

@media (max-width: 360px) { 

}