<!-- <div class="examquestions view">
<h2><?php echo __('Examquestion'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Exam'); ?></dt>
		<dd>
			<?php echo $this->Html->link($examquestion['Exam']['id'], array('controller' => 'exams', 'action' => 'view', $examquestion['Exam']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Question'); ?></dt>
		<dd>
			<?php echo $this->Html->link($examquestion['Question']['id'], array('controller' => 'questions', 'action' => 'view', $examquestion['Question']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Answer'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['answer']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Mark'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['mark']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Status'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['status']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($examquestion['Examquestion']['modified']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Examquestion'), array('action' => 'edit', $examquestion['Examquestion']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Examquestion'), array('action' => 'delete', $examquestion['Examquestion']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $examquestion['Examquestion']['id']))); ?> </li>
		<li><?php echo $this->Html->link(__('List Examquestions'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Examquestion'), array('action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Exams'), array('controller' => 'exams', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Exam'), array('controller' => 'exams', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
 -->