<section id="students" class="students">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>ABOUT US</h2>
                    <!-- <div class="col-md-6 col-md-offset-3">
                        <p class="p1"> </p>
                    </div> -->
                   
                    <div class="tab_container">
                          <div id="tab1" class="tab_content">
                                  <p class="p2">My Gurujee aims at empowering the genius in you and to acheive greatness in life. This institute was started in January 2019 with the focus on providing premium education and training opportunities for CSIR-UGC JRF/NET, GATE, DBT-JRF exams.</p>
                                  <ul> 
                                    <li> To a complete and comprehensive source of study material that allows them to have a fair chance at the CSIR/UGC JRF(NET) exam. </li><li> To be able to prepare for the exam without the the cut-throat rates charged by other institutions or centers. </li> 
                                    <li> To learn and access only what is required by them a self-study portal. </li>
                                    <li> To understand the basic concepts of life science in a nutshell with solved previous question papers. </li>
                                    <li> To create persuasive environment for  life sciences aspirants to become the acme in the field. </li>
                                    <li>The consistent results in Life science  have placed our students in all leading  universities of India.The faith and goodwill of our students have lead us to become the leading institute for CSIR JRF/NET coaching.</li>

                                  </ul>
                                 <!--  <p class="p2"> My Gurujee website aims at empowering the average student . To a complete and comprehensive source of study material that allows them to have a fair chance at the CSIR/UGC JRF(NET) exam. To be able to prepare for the exam without the the cut-throat rates charged by other institutions or centers. Learn and access only what is required by them 
                                  a self-study portal.To understand the basic concepts of life science in a nutshell with solved previous question papers. Create persuasive environment for  life sciences aspirants to become the acme in the field. 
                                  </p> -->


                                  <br/>
                                  <!-- <p class="p2">Mauris lobortis lacus vitae sem malesuada elementum. Phasellus fermentum viverra elit, a venenatis neque fermentum eu. Sed eu est est. Aliquam semper, quam ut vulputate congue, nisi augue commodo nunc, ut rhoncus est nunc sed odio. Nulla aliquam, turpis non interdum cursus, velit dolor scelerisque arcu, sed blandit arcu arcu at massa. Duis a tortor eget nibh tempor ultricies sed at enim. Proin nec scelerisque risus, non interdum quam. Etiam rutrum molestie urna, ut ullamcorper dolor blandit non.</p> -->
                                  <!-- <div class="btn2">
                                      <a href="#" class="orange">Read More</a>
                                  </div> -->
                          </div>
                          <!-- #tab1 -->
                          <!-- <div id="tab2" class="tab_content">
                                  <p class="p2">Donec sit amet tristique libero. Phasellus tempus accumsan nisl, sit amet gravida nulla tristique finibus. Proin aliquet varius bibendum. Curabitur eleifend nisi enim, sed hendrerit tellus volutpat eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, congue nec vestibulum ut, commodo lobortis metus.</p>
                                  <br/>
                                  <p class="p2">Mauris lobortis lacus vitae sem malesuada elementum. Phasellus fermentum viverra elit, a venenatis neque fermentum eu. Sed eu est est. Aliquam semper, quam ut vulputate congue, nisi augue commodo nunc, ut rhoncus est nunc sed odio. Nulla aliquam, turpis non interdum cursus, velit dolor scelerisque arcu, sed blandit arcu arcu at massa. Duis a tortor eget nibh tempor ultricies sed at enim. Proin nec scelerisque risus, non interdum quam. Etiam rutrum molestie urna, ut ullamcorper dolor blandit non.</p>
                                  <div class="btn2">
                                      <a href="#" class="orange">Read More</a>
                                  </div>
                          </div> -->
                          <!-- #tab2 -->
                          <!-- <div id="tab3" class="tab_content">
                                  <p class="p2">Donec sit amet tristique libero. Phasellus tempus accumsan nisl, sit amet gravida nulla tristique finibus. Proin aliquet varius bibendum. Curabitur eleifend nisi enim, sed hendrerit tellus volutpat eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, congue nec vestibulum ut, commodo lobortis metus.</p>
                                  <br/>
                                  <p class="p2">Mauris lobortis lacus vitae sem malesuada elementum. Phasellus fermentum viverra elit, a venenatis neque fermentum eu. Sed eu est est. Aliquam semper, quam ut vulputate congue, nisi augue commodo nunc, ut rhoncus est nunc sed odio. Nulla aliquam, turpis non interdum cursus, velit dolor scelerisque arcu, sed blandit arcu arcu at massa. Duis a tortor eget nibh tempor ultricies sed at enim. Proin nec scelerisque risus, non interdum quam. Etiam rutrum molestie urna, ut ullamcorper dolor blandit non.</p>
                                  <div class="btn2">
                                      <a href="#" class="orange">Read More</a>
                                  </div>
                          </div> -->
                          <!-- #tab3 -->
                        </div>
                        <!-- .tab_container -->
                    </div>
                </div>
            </div>
    </section>
   <section id="about" class="about">
        <div class="container">
            <div class="row">
               <div class="col-md-6 col-xs-12">
                    <div class="poster">
                        <img src="<?php echo $this->webroot;?>assets/img/bannerStudent1.png" width="400px" height="320px">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="h2">Be Assured</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper viverra nam libero justo. Elementum facilisis leo vel fringilla. Ultrices in iaculis nunc sed augue lacus. Tincidunt eget nullam non nisi. Mi proin sed libero enim sed faucibus turpis in eu. In hac habitasse platea dictumst quisque sagittis purus sit amet. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Ac odio tempor orci dapibus ultrices in iaculis. Quis viverra nibh cras pulvinar mattis nunc sed. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Vestibulum sed arcu non odio euismod lacinia. Enim praesent elementum facilisis leo vel fringilla est </p>
                    <br/>
                   
                </div>
               
            </div>
        </div>
    </section>
    <style type="text/css">
    .services .img{

    background-size: cover;
    width: 100%;
    height: 100%;

  }
    .services .boxServices h4 {
    font-size: 16px;
    text-align: center;
    color: #111;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.services .boxServices {
    background: #F5F5F5;
    padding: 10px;
    overflow: hidden;
  }
 
  

   </style>
