<?php 
 $user = $this->Session->read('Auth.User'); 
 $exam_session = $this->Session->read('exam_session');
 ?>
<section id="about" class="about">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 col-xs-12">
                    <h2>LIFE SCIENCE EXAM RESULT PART <?php echo  $exam_session['exampart']; ?></h2>
                    
                    <br/>
                </div>
               <!-- <div class="col-md-6 col-xs-12">
                    <div>
                        <img src="<?php echo $this->webroot;?>assets/img/onlineexam.png" width="400px" height="320px">
                    </div>
                </div> -->
    </div>
</div>
<br>
<br>
 <div class="container">
    <div class="row">
       <div class="box">  
       <div class="col-md-12 col-xs-12">
        
        <h2>congratulations <?php echo $user['name'] ;?>.... <br>
         you successfully completed the exam</h2>
        <?php echo $this->Form->create('Exam', array('class' => 'form-horizontal','method'=>'post')); ?>
        <?php echo $this->Form->input('id');?>
        <div class="right">
            <button type="submit" class="purple1">View Result</button>
        </div>
        <?php echo $this->Form->end();?>
       <!-- <div class="col-md-6 col-xs-12">
            <div>
                <img src="<?php echo $this->webroot;?>assets/img/onlineexam.png" width="400px" height="320px">
            </div>
        </div> -->
    </div>
</div>
</div>
</section>