<script type="text/javascript" src="<?php echo $this->webroot; ?>assets/plugins/ckeditor/ckeditor.js"></script>
<?php $this->Html->addCrumb('News', '/admin/newses'); ?>
<?php $this->Html->addCrumb('Edit', ''); ?>
<script type="text/javascript">
$(document).ready(function(){
    CKEDITOR.config.contentsCss = '<?php echo $this->webroot; ?>css/style.css';
	var error1 = $('.alert-danger');
	$('#NewseAdminEditForm').validate({
		errorElement: 'span', //default input error message container
		errorClass: 'help-block', // default input error message class
		focusInvalid: false, // do not focus the last invalid input
		ignore: "",
		rules:{
		"data[Newse][headings]" : {required : true },
		"data[Newse][date]" : {required : true },
		"data[Newse][details]" : {required: function() 
				                    {
				                    CKEDITOR.instances.StaticpageContent.updateElement();
				                    }},
		"data[Newse][image]" : {accept: "jpg|jpeg|png|ico|bmp"},
		"data[Newse][status]" : {required : true},
		},
		messages:{
		"data[Newse][heading]" : {required :"Please enter heading."},
		"data[Newse][details]" : {required :"Please enter news details."},
		"data[Newse][dates]" : {required :"Please select  date."},
		"data[Newse][status]" : {required :"Please select status."},
		"data[Newse][image]" : { accept :"Please select valid file format"}
		},

		invalidHandler: function (event, validator) { //display error alert on form submit              
		//success1.hide();
		error1.show();
		//App.scrollTo(error1, -200);
		},

		highlight: function (element) { // hightlight error inputs
		$(element)
		.closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight: function (element) { // revert the change done by hightlight
		$(element)
		.closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success: function (label) {
		label
		.closest('.form-group').removeClass('has-error'); // set success class to the control group
		label
		.closest('.form-group').removeClass('error');
		},
		errorPlacement: function(error, element) {
					if (element.attr("name") == "data[Newse][details]"){
						$("span.err1").append(error);
					}else {
						error.insertAfter(element);
					}
				},
		});
		});

</script>

<div class="row">
	<div class="col-md-12">
		<div class="tab-content">
			<div class="tab-pane active" id="tab_0">
				<div class="portlet box green">
				<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i><?php echo __('Edit News'); ?>                       
				</div>
				<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				</div>
				</div>
					<div class="portlet-body form users">
						<div class="alert alert-danger display-hide">
						<button data-close="alert" class="close"></button>
						You have some form errors. Please check below.
						</div>
						<!-- BEGIN FORM-->
						<?php echo $this->Form->create('Newse', array('class' => 'form-horizontal' ,'enctype'=>'multipart/form-data','method'=>'post')); ?>
						<div class="form-body">  
							<div class="form-group">
								<label class="col-md-3 control-label" for="">&nbsp;</label>
								<div class="col-md-4">
									<div class="input text">
										<span class="required" style="color:#F00"> *</span>= Required
									</div>
								</div>
							</div>                                
							<div class="form-group">
								<!--<?php echo $this->Form->label('id<span class=required> * </span>' ,null, array('class' => 'col-md-3 control-label')); ?> -->
								<div class='col-md-4'>
									<?php echo $this->Form->input('id', array('class' => 'form-control', 'label' => false, 'required' => false));?>
								</div>
							</div>
							<div class="form-group">
								<?php echo $this->Form->label('headings<span class=required> * </span>' ,null, array('class' => 'col-md-3 control-label')); ?>
								<div class='col-md-4'>
									<?php echo $this->Form->input('heading', array('class' => 'form-control', 'label' => false, 'required' => true));?>
								</div>
							</div>
						
							<div class="form-group">
	                            <?php echo $this->Form->label('date<span class=required> * </span>' ,null, array('class' => 'col-md-3 control-label')); ?>
	                         	<div class='col-md-4'>    
	                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-link-field="CallDateOpened">
	                                        <input type="text" size="16"  class="form-control" name="data[Newse][dates]"  value = "<?php echo  date("d-m-Y", strtotime($this->request->data['Newse']['dates'])); ?>"readonly>
	                                            <span class="input-group-btn">
	                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
	                                                    </span>
	                                    </div>                                            
	                            </div>
	                        </div>
							<div class="form-group">
								<?php echo $this->Form->label('details<span class=required> * </span>' ,null, array('class' => 'col-md-3 control-label')); ?>
								<div class='col-md-8'>
									
									<?php echo $this->Form->input('details', array('class' => 'ckeditor form-control', 'label' => false, 'required' => false, 'id' => 'StaticpageContent'));?>
									<span class="err1"></span>
								</div>
							</div>
							<div class="form-group">
								<?php echo $this->Form->label('image<span class=required> * </span>' ,null, array('class' => 'col-md-3 control-label')); ?>
								<div class='col-md-4'>
									<?php echo $this->Form->input('image', array('class' => 'form-control', 'type'=>'file', 'label' => false, 'required' => false));?>
								</div>
								<div class="col-md-2"><img src="<?php echo $this->webroot.$ImageNews.$this->request->data['Newse']['image']; ?>" style ="width:50px; float: left;">	</div>
							</div>   

							

							
							     
							
							<div class="form-actions fluid">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn blue">Submit</button>
									<button type="button" class="btn default" onclick="window.location='<?php echo $this->webroot.'admin/newses'; ?>'">Cancel</button>
								</div>
							</div>
						</div>
						<?php echo $this->Form->end(); ?>
						<!-- END FORM-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
